.table {
    padding: 10px;

}

.align-middle {
    text-align: center;
}

td {
    width: 60px;
    height: 80px;
}

svg path {
    fill: none;
    stroke: #999;
}

svg line {
    stroke: steelblue;
    stroke-width: 1px;
    stroke-dasharray: 5px;
}

.expend {
    /*background-color: black;*/
    width: 200px;
}